@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Montserrat:700,400);

*{
    margin: 0;
    padding: 0;
}
html {
	text-align: center;
	font-family: "Montserrat", sans-serif;
}

.progress {
	display: block;
	margin: 0 auto;
	overflow: hidden;
	transform: rotate(-90deg) rotateX(180deg);
}

.progress circle {
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 1s ease;
	stroke: #a02e2e;
	stroke-width: 9px;
}

.progress .bar {
	stroke: #d66f6f;
}

.progressdiv {
	position: relative;
}

.progressdiv:after {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 35px;
	transform: translate(-50%, -50%);
	content: attr(data-percent) " %";
}
